apiVersion: v1
kind: Secret
metadata:
  name: discord-webhook-url
  namespace: flux-system
type: Opaque
stringData:
  address: ${discord_webhook_url}
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
  name: discord
  namespace: flux-system
spec:
  type: discord
  secretRef:
    name: discord-webhook-url
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
  name: deployment-alerts
  namespace: flux-system
spec:
  providerRef:
    name: discord
  eventSeverity: info
  eventMetadata:
    cluster: ${cluster_name}
  eventSources:
    - kind: HelmRelease
      name: "*"
    - kind: Kustomization
      name: "*"
    - kind: FluxInstance
      name: "*"
